{% extends "base.html" %}

{% block content %}
<div ng-controller="ArticleCtrl">
	<div class="article-sidebar" set-class-when-at-top-browse="fix-to-top-browse">
		<h1>Related Resources</h1>
		<ul class="related">
			{% for article in related %}
			<a href="{% url 'browse.article_detail' article.id %}">	
				<li id="{{ article.get_category_display|lower }}">
					<h2>{{ article.title|capfirst }}</h2>
					<!-- <span class="subtitle">{{ article.autor }}</span> -->
				</li>
			</a>
			{% endfor %}
		</ul>
	</div>

	<div class="article-content"> 
		<h1>{{ article.title|capfirst }}</h1>
		<span class="subtitle">{{ article.author }}</span>
		</br>
		{{ article.content|safe }}
	</div>
</div>
{% endblock %}