{% extends "base.html" %}

{% block content %}
{% load app_filters %}
<div id="website-content">
<div>
	<div class="article-sidebar scroll-then-fix-sidebar">
		<h1>Related</h1>
		<ul class="related">
			{% for article in related %}
			<a href="{% url 'browse.article_detail' article.id %}">	
				<li id="sidebar-{{ article.get_category_display|lower }}">
					<h2>{{ article.title|capfirst }}</h2>
				</li>
			</a>
			{% endfor %}
		</ul>
	</div>

	<div class="article-content {{ article.get_category_display|lower }}-headings"> 
		<div class="article-title-wrapper">
			<h1 class="article-title" id="{{ article.get_category_display|lower }}">{{ article.title|capfirst }}</h1>
			<span class="box-tag-list">
				Written by: {{ article.authors.all|sort_alphabetically:"name"|join:", " }}
				<br>
				Tags: {{ article.tags.all|sort_alphabetically:"name"|join:", " }}
				<br><i>{{ article.date_added }}</i>
			</span>
		</div>
		<div class="article-content-wrapper">
			{{ article.content|safe }}
		</div>
		<div class="article-authors-wrapper">
			<h3>Author(s)</h3>
			{% for author in article.authors.all|sort_alphabetically:"name" %}
				<a href="{% url 'trainers.trainer_detail' author.id %}">
					<div class="article-author">
						<img src="/static/img/{{ author.picture_handle }}.png">
						<h2>{{ author.name }}</h2>
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="mobile-related">
			<h1>Related</h1>
			<ul class="related">
				{% for article in related %}
					<a href="{% url 'browse.article_detail' article.id %}">	
						<li id="sidebar-{{ article.get_category_display|lower }}">
							<h2>{{ article.title|capfirst }}</h2>
						</li>
					</a>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
</div>
{% endblock %}