{% extends "base.html" %}

{% block content %}
<div id="website-content">
		<nav id="browse-navbar" class="scroll-then-fix-sidebar">
			<a href="/browse/filter/category=/tags=/types=/authors=/" id="sidebar-all" class="{% if request.resolver_match.url_name == 'browse' %}active{% endif %}">
				All
			</a>
			<a href="{% url 'browse.filter_detail' 'strategy' '' '' '' %}" id="sidebar-strategy" class="{% if request.resolver_match.url_name == 'browse.strategy' %}active{% endif %}">
				Strategy
			</a>
			<a href="{% url 'browse.filter_detail' 'content' '' '' '' %}" id="sidebar-content" class="{% if request.resolver_match.url_name == 'browse.content' %}active{% endif %}">
				Content
			</a>
			<a href="{% url 'browse.filter_detail' 'misc' '' '' '' %}" id="sidebar-misc" class="{% if request.resolver_match.url_name == 'browse.misc' %}active{% endif %}">
				Misc
			</a>
			<a id="sidebar-all" class="custom-search-button">
				Custom Search
			</a>
		</nav>
		<div id="box-wrapper">
			<!-- Injected Content -->
			{% block articles %}
			{% endblock %}
		</div>
</div>
{% endblock %}