{% extends "base.html" %}

{% block content %}
    <div>
		<nav id="browse-navbar">
			<a href="{% url 'browse' %}" id="sidebar-all" class="{% if request.resolver_match.url_name == 'browse' %}active{% endif %}">
				All
			</a>
			<a href="{% url 'browse.strategy' %}" id="sidebar-strategy" class="{% if request.resolver_match.url_name == 'browse.strategy' %}active{% endif %}">
				Strategy
			</a>
			<a href="{% url 'browse.content' %}" id="sidebar-content" class="{% if request.resolver_match.url_name == 'browse.content' %}active{% endif %}">
				Content
			</a>
			<a href="{% url 'browse.misc' %}" id="sidebar-misc" class="{% if request.resolver_match.url_name == 'browse.misc' %}active{% endif %}">
				Misc
			</a>
		</nav>

		<div id="box-wrapper">
			<!-- Injected Content -->
			{% block articles %}
				<div>
					{% for article in articles %}
					<div style="display:inline-block; vertical-align:top;">
						<a href="{% url 'browse.article_detail' article.id %}">	
							<div class="content-box" id="article-{{ article.get_category_display|lower }}">
								<span class="box-title">{{ article.title }}</span>
								<span class="box-author">{{ article.author }}</span>
								<span id="tag-wrapper">
									<span class="box-tag-list">
										{% for tag in article.tags.all %}
											<span class="box-tag">
												{{ tag.name }}
											</span>
											{% if not forloop.last %}
											<span class="box-tag">
												|
											</span>
											{% endif %}
										{% endfor %}
									</span>
								</span>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			{% endblock %}
		</div>
	</div>
{% endblock %}