{% extends "base.html" %}

{% block content %}
    <div>
		<nav id="browse-navbar">
			<a href="{% url 'browse' %}" id="sidebar-all" class="{% if request.resolver_match.url_name == 'browse' %}active{% endif %}">
				All
			</a>
			<a href="{% url 'browse.filter_detail' 'strategy' '' %}" id="sidebar-strategy" class="{% if request.resolver_match.url_name == 'browse.strategy' %}active{% endif %}">
				Strategy
			</a>
			<a href="{% url 'browse.filter_detail' 'content' '' %}" id="sidebar-content" class="{% if request.resolver_match.url_name == 'browse.content' %}active{% endif %}">
				Content
			</a>
			<a href="{% url 'browse.filter_detail' 'misc' '' %}" id="sidebar-misc" class="{% if request.resolver_match.url_name == 'browse.misc' %}active{% endif %}">
				Misc
			</a>
			<a id="sidebar-all" class="custom-search-button">
				Custom Search
			</a>
			<span id="custom-search-options">
				<div>
					<h1 class="custom-search-heading">Categories</h1>
					<ul class="custom-search">
						<li><input type="checkbox" value="strategy" class="category-option">Strategy</li>
						<li><input type="checkbox" value="content" class="category-option">Content</li>
						<li><input type="checkbox" value="misc" class="category-option">Misc</li>
					</ul>
					<h1 class="custom-search-heading">Tags</h1>
					<ul class="custom-search">
						{% for tag in tags %}
							<li><input type="checkbox" value="{{tag.id}}"class="tag-option">{{tag.name}}</li>
						{% endfor %}
					</ul>
					<button id="custom-search-submit">Filter</button>
				</div>
			</span>
		</nav>

		<div id="box-wrapper">
			<!-- Injected Content -->
			{% block articles %}
				<div>
					{% for article in articles %}
					<div class="flipper content-box-wrapper" style="display:inline-block; vertical-align:top;">
						<!-- FRONT -->
						<div class="front">
							<a href="{% url 'browse.article_detail' article.id %}">	
								<div class="content-box" id="article-{{ article.get_category_display|lower }}">
									<span class="box-title">{{ article.title }}</span>
									<span class="box-author">{{ article.author }}</span>
									<span id="tag-wrapper">
										<span class="box-tag-list">
											{% for tag in article.tags.all %}
												<span class="box-tag">
													{{ tag.name }}
												</span>
												{% if not forloop.last %}
												<span class="box-tag">
													|
												</span>
												{% endif %}
											{% endfor %}
										</span>
									</span>
								</div>
							</a>
						</div>

						<!-- BACK -->
						<div class="back content-box" id="article-{{ article.get_category_display|lower }}">
							<a href="{% url 'browse.article_detail' article.id %}">
								<div class="box-description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius convallis sapien vitae bibendum. Maecenas quis volutpat nulla. Nunc id justo nulla. Fusce hendrerit, felis vel aliquet placerat, augue dui accumsan quam, ut mattis leo nulla nec velit. Curabitur molestie turpis eu leo lacinia dictum.
								</div>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
			{% endblock %}
		</div>
	</div>
{% endblock %}