{% extends "tplatform/browse.html" %}

{% block articles %}
	<div>
		{% for article in articles %}
		<div style="display:inline-block; vertical-align:top;">
			<a href="{% url 'article_detail' article.id %}">	
				<div class="content-box" id="{{ article.get_category_display|lower }}">
					<span class="box-title">{{ article.title }}</span>
					<span class="box-author">{{ article.author }}</span>
					<span class="box-description">{{ article.description }}</span>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
{% endblock %}