{% extends "tplatform/browse.html" %}
{% block articles %}
	{% load app_filters %}
	{% if articles %}
	<div class="filter-detail-wrapper">
		{% for article in articles %}
		<a class="flipper content-box-wrapper" href="{% url 'browse.article_detail' article.id %}">
			<!-- FRONT -->
			<div class="front content-box" id="article-{{ article.get_category_display|lower }}">
					<!-- <div class="" > -->
						<span class="box-title">{{ article.title }}</span>
						<span class="box-author">
							{% if article.authors.all|length == 1 %}
								{{ article.authors.all.0.name }}
							{% else %}
								Collaborative
							{% endif %}
						</span>
						<span id="tag-wrapper">
							<span class="box-tag-list">
								{{ article.tags.all|sort_alphabetically:"name"|join:"  |  " }}
							</span>
						</span>
					<!-- </div> -->
			</div>

			<!-- BACK -->
			<div class="back content-box" id="article-{{ article.get_category_display|lower }}">
					<div class="box-description">
						{{ article.description }}
					</div>
					<div class="box-types">
						{% for type in article.types.all %}
							<i class="fa fa-{{ type.picture_handle }} fa-lg"></i>
						{% endfor %}
					</div>
			</div>
		</a>
		{% endfor %}
	</div>
	{% else %}
	<h1>Oops!</h1>
	<p> Your query has no results.</p>
	{% endif %}
{% endblock %}