{% extends "tplatform/browse.html" %}

{% block articles %}
	<div>
		{% for article in articles %}
		<div class="flipper content-box-wrapper" style="display:inline-block; vertical-align:top;">
			<!-- FRONT -->
			<div class="front">
				<a href="{% url 'browse.article_detail' article.id %}">	
					<div class="content-box" id="article-{{ article.get_category_display|lower }}">
						<span class="box-title">{{ article.title }}</span>
						<span class="box-author">
							{% if article.authors.all|length == 1 %}
								{{ article.authors.all.0.name }}
							{% else %}
								Collaborative
							{% endif %}
						</span>
						<span id="tag-wrapper">
							<span class="box-tag-list">
								{{ article.tags.all|join:"  |  " }}
							</span>
						</span>
					</div>
				</a>
			</div>

			<!-- BACK -->
			<div class="back content-box" id="article-{{ article.get_category_display|lower }}">
				<a href="{% url 'browse.article_detail' article.id %}">
					<div class="box-description">
						{{ article.description }}
					</div>
					<div class="box-types">
						{% for type in article.types.all %}
							<i class="fa fa-{{ type.picture_handle }} fa-lg"></i>
						{% endfor %}
					</div>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}