{% extends "base.html" %}

{% block content %}
    <!-- This is the landing page -->
    <div class="homepage-wrapper">
    	<div class="homepage-welcome-card homepage-card">
	    	<div class="homepage-title-card">
	    		<h1>Welcome!</h1>
	    	</div>
	    	<div class="homepage-content-card">
	    		<p>Welcome to the official website for the Scottish EUDC 2018 Training Centre!</p>
	    		<p>The Scottish EUDC 2018 Training Centre was set up by the team behind <a href="https://www.scottisheudc2018.com/">Scottish EUDC 2018</a>, the European Universities Debating Championship edition due to take place in Edinburgh in August 2018.</p>

				<p>Since we were chosen to host Europe’s largest debating event in the summer of 2016, we have worked tirelessly to ensure we raise the bar of debating in Europe. A big part of that is our Training Centre: a dedicated portal where you can gain access to resources, advice and support from our world-class training team. Run by the Scottish EUDC Chief Adjudication team, and with the support of some of the best debaters in Europe as trainers, we hope to bring debating to every corner of the continent.</p>

				<p>On this website, you can browse our videos and training materials, request workshops or advice for your society, send us feedback, see what we have been doing, read more about our trainers, and ask to join our team. If you want to learn more about Scottish Euros, you want to head over to our <a href="https://www.scottisheudc2018.com/">website</a>. If you have any other questions, please email <a href="mailto:ca@scottisheudc2018.com">ca@scottisheudc2018.com</a>.</p>

				<p>With love,
				<br>The Scottish EUDC 2018 CA Team</p>
	    	</div>
    	</div>
    	
    	<div class="homepage-card blue-background">
    		<div class="homepage-title-card">
				<h2>How can we help?</h2>
			</div>
			<div class="homepage-content-card">
				<p>Since you are here, why not <a href="/browse/filter/category=/tags=/types=/authors=/">browse through our video and written resources</a>? You can also check out our <a href="{% url 'trainers' %}">trainer profiles</a>, or browse by trainer.</p>

				<p>Can’t find what you are looking for? If you have any ideas for documents or resources that might be useful, or would like us to provide personalised training for your society, all you need to do is <a href="{% url 'contact' %}">drop us a quick line</a>! We would love to help, and can offer a wide range of different formats of training, judging or advice.</p>

				<p>Lastly, you can also send us feedback and ideas, or request to join our training team, <a href="{% url 'contact' %}">on this link</a>.</p>
		    </div>
		</div>

		<div class="homepage-card grey-background">
	    	<div class="homepage-title-card">
	    		<h2>What have we been up to?</h2>
	    	</div>
	    	<div class="homepage-content-card blue-border">
	    		<p>Since the Training Centre launched in the summer of 2016, we have run workshops for societies in Spain, Portugal, Belarus, Poland, France, Germany, Croatia, Finland, Serbia, Kyrgyzstan, Kazakhstan, Romania, Bulgaria, Denmark, Hungary, Estonia, Austria, Slovenia, the Netherlands, Sweden, Wales, England, Scotland and beyond. By the summer of 2017, we had delivered over 100 workshops over Skype and in person through the Scottish EUDC 2018. And we plan to keep this up over the next year!</p>
	    		<p>We have held London Training Weeks between the Oxford and Cambridge IVs in 2016 and 2017, twice-weekly workshops in the summer leading up to EUDC 2017, and have assisted training weekends in Portugal, Finland, Germany and beyond. In 2017-18, we will continue running regular private and public workshops, and we are excited to announce our plans to hold a Paris Training Weekend in February 2018 and a Germany Training Weekend in March 2018. In addition, we will be increasing our judge training work in the run up to Scottish EUDC 2018 to ensure that the quality of judging across Europe is stronger than ever.</p>
	    	</div>
    	</div>

    	<div class="homepage-card green-background">
	    	<div class="homepage-title-card">
	    		<h2>How did we start, and what’s next?</h2>
	    	</div>
	    	<div class="homepage-content-card blue-border">
	    		<p>Scottish EUDC was selected in 2016 as the winning bid to host the European University Debating Championships in 2018. One of our priorities was to promote debate training at a high level across Europe to reduce inequality across circuits and ensure this amazing activity that we love was open to all. We are lucky to count of the support of some of the best debaters in Europe and the world as members of our Training Team, who have been working hard to deliver workshops to every society that has requested it so far, no matter how big or how small.</p>
				<p>We are also grateful to count on the support of Raluca Vacaru, our Technology Officer, who built this platform so that the resources we have been working on can be easily found, navigated and shared. Raluca has a first-class degree in Computer Science from UCL, is currently doing a Master’s in Human-Computer Interaction, and has an incredible track-record having interned at Google three summers in a row and having previously collaborated with Microsoft and Clifford Chance. She is no less experienced as a debater, being a EUDC breaking speaker, ESL champion of the SOAS IV and having over 20 speaking and judging breaks and 5 CA-ships to her name. To get but a glimpse of her talent; <a href="https://drive.google.com/file/d/0B9JntvQy_OTQRTNiR0VBZWdhM1k/view">you can even find the link to her dissertation, on how she built this website, on this link</a>!</p>
				
				<p>And what comes next? We will continue our commitment to deliver training across Europe over the next year and beyond, and hope many of you will join us at Scottish EUDC 2018. We hope you will get in touch with any questions or concerns - just reach out to us on <a href="mailto:ca@scottisheudc2018.com">ca@scottisheudc2018.com!</a></p>

				<p>With gratitude to the debating community for placing your trust in us;</p>
				<p>To our training team for helping us fulfil our dream of promoting debating across Europe;</p>
				<p>To the organising committee of Scottish EUDC  for giving us this opportunity;</p>
				<p>To Raluca Vacaru, for your hard work and unparalleled talent in developing this platform;</p>
				<p>To all who gave us advice as this project was being born;</p>
				<p>And to all who will drive it forward into the future.</p>
	    	</div>
    	</div>
	</div>

{% endblock %}
