{% extends "base.html" %}

{% block content %}
    <!-- This is the landing page -->
    <div class="homepage-wrapper">
    	<div class="homepage-card">
	    	<div class="homepage-title-card blue-background">
	    		<h2>Welcome to the official website for the Scottish EUDC 2018 Training Centre!</h2>
	    	</div>
	    	<div class="homepage-content-card blue-border">
	    		<p>The Scottish EUDC 2018 Training Centre was set up by the team behind <a href="https://www.scottisheudc2018.com/">Scottish EUDC 2018</a>, the European Universities Debating Championship edition due to take place in Edinburgh in August 2018.</p>

				<p>Since we were chosen to host Europe’s largest debating event in the summer of 2016, we have worked tirelessly to ensure we raise the bar of debating in Europe. A big part of that is our Training Centre: a dedicated portal where you can gain access to resources, advice and support from our world-class training team. Run by the Scottish EUDC Chief Adjudication team, and with the support of some of the best debaters in Europe as trainers, we hope to bring debating to every corner of the continent.</p>

				<p>On this website, you can browse our videos and training materials, request workshops or advice for your society, send us feedback, see what we have been doing, read more about our trainers, and ask to join our team. If you want to learn more about Scottish Euros, you want to head over to our <a href="https://www.scottisheudc2018.com/">website</a>. If you have any other questions, please email <a href="mailto:ca@scottisheudc2018.com">ca@scottisheudc2018.com</a>.</p>

				<p class="right-align">With love,
				<br>The Scottish EUDC 2018 CA Team</p>
	    	</div>
    	</div>
    	
    	<div class="homepage-card">
		    <div class="homepage-title-card red-background">
				<h2>How can we help? INSERT LINKS!</h2>
			</div>

			<div class="homepage-content-card red-border">
				<p>Since you are here, why not browse through our video and written resources? You can also check out our trainer profiles, or browse by trainer.</p>

				<p>Can’t find what you are looking for? If you have any ideas for documents or resources that might be useful, or would like us to provide personalised training for your society, all you need to do is drop us a quick line! We would love to help, and can offer a wide range of different formats of training, judging or advice.</p>

				<p>Lastly, you can also send us feedback and ideas, or request to join our training team, on this link.</p>
		    </div>
		</div>
		
		<div class="homepage-card">
	    	<div class="homepage-title-card blue-background">
	    		<h2>Welcome to the official website for the Scottish EUDC 2018 Training Centre!</h2>
	    	</div>
	    	<div class="homepage-content-card blue-border">
	    		<p>The Scottish EUDC 2018 Training Centre was set up by the team behind <a href="https://www.scottisheudc2018.com/">Scottish EUDC 2018</a>, the European Universities Debating Championship edition due to take place in Edinburgh in August 2018.</p>

				<p>Since we were chosen to host Europe’s largest debating event in the summer of 2016, we have worked tirelessly to ensure we raise the bar of debating in Europe. A big part of that is our Training Centre: a dedicated portal where you can gain access to resources, advice and support from our world-class training team. Run by the Scottish EUDC Chief Adjudication team, and with the support of some of the best debaters in Europe as trainers, we hope to bring debating to every corner of the continent.</p>

				<p>On this website, you can browse our videos and training materials, request workshops or advice for your society, send us feedback, see what we have been doing, read more about our trainers, and ask to join our team. If you want to learn more about Scottish Euros, you want to head over to our <a href="https://www.scottisheudc2018.com/">website</a>. If you have any other questions, please email <a href="mailto:ca@scottisheudc2018.com">ca@scottisheudc2018.com</a>.</p>

				<p class="right-align">With love,
				<br>The Scottish EUDC 2018 CA Team</p>
	    	</div>
    	</div>
    	
    	<div class="homepage-card">
		    <div class="homepage-title-card red-background">
				<h2>How can we help? INSERT LINKS!</h2>
			</div>

			<div class="homepage-content-card red-border">
				<p>Since you are here, why not browse through our video and written resources? You can also check out our trainer profiles, or browse by trainer.</p>

				<p>Can’t find what you are looking for? If you have any ideas for documents or resources that might be useful, or would like us to provide personalised training for your society, all you need to do is drop us a quick line! We would love to help, and can offer a wide range of different formats of training, judging or advice.</p>

				<p>Lastly, you can also send us feedback and ideas, or request to join our training team, on this link.</p>
		    </div>
		</div>
	</div>

{% endblock %}
