{% extends "base.html" %}

{% block content %}
<div class="trainers-wrapper">
	<div class="trainers-boxes-wrapper">
	{% for trainer in trainers %}
		<a href="{% url 'trainers.trainer_detail' trainer.id %}">	
			<div class="trainer-box">
				<h2>{{ trainer.name }}</h2>
				<div class="flipper trainer-box-flipper">
					<div class="front">
						<img src="/static/img/{{ trainer.picture_handle }}.png">
					</div>
					<div class="back back-description">
						<p>{{ trainer.description|safe }}</p>
					</div>
				</div>
			</div>
		</a>
	{% endfor %}
	</div>
</div>
{% endblock content %}
