{% load staticfiles %}

<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="{% static 'index.js' %}"></script>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Pavanam" rel="stylesheet">
		<meta charset="utf-8">
        <title>Training Platform</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
	</head>

	<body>
		<div id="header">
			<nav id="main-navbar">
				<a href="{% url 'index' %}" id="home" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
					Home
				</a>
				<a href="{% url 'browse' %}" id="browse" class="{% if 'browse' in request.resolver_match.url_name %}active{% endif %}">
					Browse
				</a>
				<a href="{% url 'about' %}" id="about" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">
					About
				</a>
			</nav>
		</div>

		<div id="website-content">
			<!-- Injected Content -->
			{% block content %}
	    	{% endblock content %}
			</div>
	</body>
</html>