{% load staticfiles %}

<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://use.fontawesome.com/cbc2c5b86f.js"></script>
		<script src="{% static 'index.js' %}"></script>
		<script src="{% static 'jquery.hoverIntent.js' %}"></script>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Pavanam" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:image" content="https://i.imgur.com/tj3MkAf.png"/>

        <title>Training Platform</title>
	</head>

	<body>
		<div class="everything-wrapper">
			<div class="blurred"></div>
			<div class="mob-menu-blurred"></div>

			<div id="custom-search-options" class="scroll-then-fix-filter">
				<img src="/static/img/close.png" id="close-box">
				<h1 id="filters-title">
				Custom Filters
				</h1>
				<div id="filter-wrapper">
					<div class="filter-column">
						<div class="small-column">
							<h1 class="custom-search-heading"><i class="filter-icon fa fa-plus-square-o" aria-hidden="true"></i><i class="filter-icon fa fa-minus-square-o" aria-hidden="true" style="display: none;"></i>Categories</h1>
							<ul class="custom-search">
								<label><li><input type="checkbox" value="strategy" class="category-option"><span>Strategy</span></li></label>
								<label><li><input type="checkbox" value="content" class="category-option"><span>Content</span></li></label>
								<label><li><input type="checkbox" value="misc" class="category-option"><span>Development</span></li></label>
							</ul>
						</div>
<!-- 					</div>
					<div class="filter-column"> -->
						<div class="small-column">
							<h1 class="custom-search-heading"><i class="filter-icon fa fa-plus-square-o" aria-hidden="true"></i><i class="filter-icon fa fa-minus-square-o" aria-hidden="true" style="display: none;"></i>Types</h1>
							<ul class="custom-search">
								{% for type in types %}
									<label><li><input type="checkbox" value="{{type.id}}" class="type-option"><span>{{type.name|capfirst}}</span></li></label>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="filter-column">
						<h1 class="custom-search-heading"><i class="filter-icon fa fa-plus-square-o" aria-hidden="true"></i><i class="filter-icon fa fa-minus-square-o" aria-hidden="true" style="display: none;"></i>Tags</h1>
						<ul class="custom-search two-column">
							{% for tag in tags %}
								<label><li><input type="checkbox" value="{{tag.id}}"class="tag-option"><span>{{tag.name}}</span></li></label>
							{% endfor %}
						</ul>
					</div>
					<div class="filter-column">
						<h1 class="custom-search-heading"><i class="filter-icon fa fa-plus-square-o" aria-hidden="true"></i><i class="filter-icon fa fa-minus-square-o" aria-hidden="true" style="display: none;"></i>Authors</h1>
						<ul class="custom-search two-column">
							{% for author in authors %}
								<label><li><input type="checkbox" value="{{author.id}}" class="author-option"><span>{{author.name}}</span></li></label>
							{% endfor %}
						</ul>
					</div>
				</div>
				<button id="custom-search-submit">Filter</button>
			</div>
			<div class="header-placeholder">
				<div id="header" class="scroll-then-fix">
					<a class="logo" href="{% url 'index' %}">
						<img src="/static/img/full-logo-white.png">
						<!-- <h1>Training Platform</h1> -->
					</a>
					<nav id="main-navbar">
						<a href="{% url 'index' %}" id="home" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
							Home
						</a>
						<a href="/browse/filter/category=/tags=/types=/authors=/" id="browse" class="{% if 'browse' in request.resolver_match.url_name %}active{% endif %}">
							Browse
						</a>
						<a href="{% url 'trainers' %}" id="trainers" class="{% if 'trainers' in request.resolver_match.url_name %}active{% endif %}">
							Trainers
						</a>
						<a href="{% url 'contact' %}" id="contact" class="{% if 'contact' in request.resolver_match.url_name %}active{% endif %}">
							Contact Us
						</a>
					</nav>
				</div>
			</div>
			<div id="mobile-header">
				<a href="{% url 'index' %}">
					<img src="/static/img/mob-logo.png">
				</a>
				<div class="burger-icon">
		    		<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
		    	</div>
			</div>
			<nav class="mobile-menu"> 
		    		<a href="{% url 'index' %}" id="home" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
						Home
					</a>
					<a href="/browse/filter/category=/tags=/types=/authors=/" id="browse" class="{% if 'browse' in request.resolver_match.url_name %}active{% endif %}">
						Browse
					</a>
						<a href="/browse/filter/category=/tags=/types=/authors=/" id="mobile-all" class="mob-browse-option">
						All
						</a>
						<a href="{% url 'browse.filter_detail' 'strategy' '' '' '' %}" id="mobile-strategy" class="mob-browse-option">
							Strategy
						</a>
						<a href="{% url 'browse.filter_detail' 'content' '' '' '' %}" id="mobile-content" class="mob-browse-option">
							Content
						</a>
						<a href="{% url 'browse.filter_detail' 'misc' '' '' '' %}" id="mobile-misc" class="mob-browse-option">
							Development
						</a>
						<a id="sidebar-all" class="custom-search-button mob-browse-option mobile-custom">
							Custom Search
						</a>
					<a href="{% url 'trainers' %}" id="trainers" class="{% if 'trainers' in request.resolver_match.url_name %}active{% endif %}">
						Trainers
					</a>
					<a href="{% url 'contact' %}" id="contact" class="{% if 'contact' in request.resolver_match.url_name %}active{% endif %}">
						Contact Us
					</a>
			    </nav>
				<!-- Injected Content -->
				{% block content %}
		    	{% endblock content %}
		</div>
		<div class="footer">
			&copy; 2017 Raluca-Ioana Vacaru
		</div>
	</body>
</html>
