html {
	height: 100%;
}
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(245, 245, 245, 1);
}
h1, h2 {
	font-family: 'Open Sans Condensed', sans-serif;
}

p {
	font-family: 'Pavanam', sans-serif;
}	

a {
	text-decoration: none;
	color: black;
}

#website-content {
	/*top: 130px;*/
	position: relative;
	width: 90%;
	margin-left: 5%;
	padding: 50px 0;
}

.header-placeholder {
	height: 150px;
}
#header {
	position: relative;
	width: 100%;
	height: 150px;
	background-color: rgba(54, 54, 54, 0.9);
	z-index: 900;
}

.logo img {
	height: 150px;
	margin-left: 70px;
	display: inline-block;
}
.logo h1 {
	display: inline-block;
	font-size: 26px;
}

/********* Main navigation bar *********/

#main-navbar {
	position: absolute;
	right: 50px;
	bottom: 0;
}
#main-navbar a {
	display: inline-block;
	width: 110px;
	text-align: center;
	text-decoration: none;
	color: rgba(245, 245, 245, 1);;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	margin-left: 5px;
	border-radius: 3px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.fix-to-top {
    position: fixed !important;
    top: -115px !important;
}
.fix-to-top-sidebar {
    position: fixed !important;
    top: 50px !important;
}
#scroll-then-fix.bottom {
    position: absolute;
    bottom: 0;
}
#scroll-then-fix.top {
    position: fixed;
    top: 0;
}

#home, #browse, #trainers, #contact {
	border-color: #383D3B;
}
#home:hover, #browse:hover, #trainers:hover, #contact:hover, #home.active, #browse.active, #trainers.active, #contact.active {
	background-color: rgba(245, 245, 245, 1);;
	color: #363636;
}

/********* Content boxes *********/
#box-wrapper {
	width: calc(100% - 200px);
	display: inline-block;
	vertical-align:top;
	text-align: center;
	padding-bottom: 40px;
}
.filter-detail-wrapper {
	width: 100%;
	text-align: center;
}
.content-box-wrapper {
	position: relative;
	display: block;
	width: 280px;
	height: 200px;
	padding: 10px;
	margin: 10px;
	display:inline-block;
	vertical-align:top;
}
.content-box {
	position: relative;
	display: block;
	width: 280px;
	height: 200px;
	padding: 10px;
	background-color: #f5f5f5;
	border-style: solid;
	border-width: 5px;
	border-radius: 3px;
}
.box-title {
	display: block;
	font-size: 24px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
	text-align: center;
	margin-top: 20px;
}
.box-author {
	display: block;
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
	margin-top: 5px;
	text-align: center;
}
.box-description {
	padding-top: 20px;
	display: block;
	font-size: 16px;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
	/*font-style: italic;*/
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
	color: white;
}
.box-description:hover {
	color: white;
}
.box-tag-list {
	display: inline-block;
	font-size: 14px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.box-tag {
	display: inline;
	font-size: 14px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	border-radius: 4px;
	padding: 3px;
	margin-right: 3px;
}
.box-types {
	position: absolute;
	width: 100% !important;
	text-align: center;
	left: 0;
	bottom: 10px;
}
.box-types i {
	display: inline-block;
	padding: 10px 5px;
	text-align: center;
	color: white;
}
#tag-wrapper {
	width: 100%;
	position: absolute;
	left: 0px;
	display: inline;
	bottom: 20px;
	text-align: center;
}

/********* Browse navigation bar *********/

#browse-navbar {
	float: left;
	margin: 10px;
	width: 120px;
	display: inline-block;
	vertical-align:top;
}

#browse-navbar a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #383D3B;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-radius: 3px;
	margin: 5px;
	padding-top: 5px;
}

.fix-to-top-browse {
    position: fixed !important;
    top: 40px !important;
}

/*********** Sidebar Styles *************/

#sidebar-strategy {
	border-color: #558B6E;
	color: black;
}

#sidebar-content {
	border-color: #648EAA;
	color: black;
}

#sidebar-misc {
	border-color: #A86464;
	color: black;
}

#sidebar-all {
	border-color: #383D3B;
	color: black;
}


/*********** Article Boxes Styles *************/

#article-strategy {
	border-color: #558B6E;
	background-color: #558B6E;
	color: white;
}

#article-content {
	border-color: #648EAA;
	background-color: #648EAA;
	color: white;
}

#article-misc {
	border-color: #A86464;
	background-color: #A86464;
	color: white;
}

#article-all {
	border-color: #383D3B;
	background-color: #383D3B;
	color: white;
}

/********* Article Detail View *********/

.article-sidebar {
	padding: 5px;
	width: 200px;
	display: inline-block;
	float: left;
	text-align: center;
}
.article-sidebar h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 26px;
	margin: 0;
}

.related {
	list-style: none;
	padding: 0;
}

.related h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	margin: 0;
}
.related .subtitle {
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: italic;
	font-size: 16px;
}
.related li {
	border-bottom-style: solid;
	border-bottom-width: 2px !important;
	margin: 10px 0px;
	padding: 8px 5px 5px 5px;
	border-radius: 3px;
}

.related li h2 {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.related li h2:hover {
	text-overflow: unset;
    white-space: unset;
    overflow: unset;
}

.article-content {
	font-family: 'Pavanam', sans-serif;
	font-size: 17px;
	line-height: 24px;
	display: inline-block;
	width: calc(100% - 400px);
	float: right;
	padding: 0px 90px;
}

.article-content h1.article-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 34px;
	line-height: 1em;
	margin-top: 0;
}
.article-content h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	line-height: 1em;
	margin-top: 40px;
}
.article-content h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 26px;
}
.article-content h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	margin-top: 15px;
}
.article-content h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	margin-top: 5px;
}
.article-content .subtitle {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: right;
	font-style: italic;
	font-size: 16px;
}
.article-content a {
	color: blue;
	text-decoration: underline;
}
.article-authors-wrapper a {
	color: black;
	text-decoration: none;
}
.article-content-wrapper {
	clear: left;
	margin-top: 50px;
}
.article-authors-wrapper {
	margin-top: 50px;
	border-top: 1px solid black;
	padding: 50px 10px 25px 10px;
	text-align: center;
}
.article-author img {
	width: 80px;
	border-radius: 40px;
}
.article-author {
	display: inline-block;
	padding: 0px 10px 10px 10px;
	opacity: 0.7;
}
.article-author:hover {
	opacity: 1;
}
.article-author h2 {
	font-size: 18px;
	text-align: center;
	margin-top: 0;
}
.article-title-wrapper .box-tag-list {
	font-size: 16px;
	/*text-align: center;*/
}
#strategy {
	color: #558B6E;
}
#content {
	color: #648EAA;
}
#misc {
	color: #A86464;
}

/**************** Custom filtering ****************/

#custom-search-options {
	display: none;
	position: absolute;
	background-color: rgba(210, 210, 210, 0.95);
	width: 100%;
	z-index: 999;
	filter: none;
	top: 150px;
	box-sizing: border-box;
	height: calc(100% - 35px);
	overflow-y: scroll;
}
.fix-to-top-filter {
    position: fixed !important;
    top: 35px !important;
}
#filters-title {
	color: #558B6E;
	text-align: center;
}
.custom-search {
	/*position: absolute;*/
	list-style-type: none;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 10px;
	margin: 0;
	border-top: solid 1px black;
}
.two-column {
	column-count: 2;
}
#advanced-browse-element {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.custom-search-heading {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	line-height: 35px;
	margin: 0 !important;
	padding: 0;
	text-align: center;
}
#filter-wrapper {
	position: relative;
	text-align: center; 
	display: inline-block;
	width: 90%;
	left: 5%;
}

.filter-column {
	vertical-align: top;
	display: inline-block;
	margin: 0 25px;
	/*flex: 1;*/
}
/* show dropdown on hover */
/*.filter-column:hover .custom-search {
	display: block;
}*/
.custom-search li {
	display: block;
	/*min-width: 150px;*/
	font-size: 16px;
	text-align: left;
	padding: 3px;
}
input[type="checkbox"]:checked+span {
	font-weight: 700;
}
#custom-search-submit {
	position: relative;
	display: block;
	margin-left: calc(50% - 40px);
	margin-top: 20px;
	margin-bottom: 20px;
	width: 80px;
	height: 31px;
	border-radius: 3px;
	border-color: #558B6E;
	box-shadow: none;
	background-color: #558B6E;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 18px;
	border: none;
}
#close-box {
	position: absolute;
	top: 20px;
	left: 120px;
	color: black;
	width: 40px;
	z-index: 99999;
}
.blurred {
  	display: none;
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	z-index: 888;
  	background-color: rgba(245, 245, 245, 0.7);
}
.mob-menu-blurred {
  	display: none;
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	z-index: 8;
  	background-color: rgba(245, 245, 245, 0.7);
}

/********* Trainers Page *********/

.trainers-wrapper {
	width: 100%;
}
.trainers-description {
	width: 100%;
	text-align: center;
	padding: 0 0 30px;
}
.trainers-description p {
	display: inline-block;
	font-size: 18px;
	text-align: center;
	max-width: 500px;
}
.trainers-description a {
	color: #648EAA;
	text-decoration: none;
}
.trainers-wrapper h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	margin-top: 0;
	text-align: center;
}
.trainers-boxes-wrapper {
	width: 100%;
	position: relative;
	text-align: center;
}
.trainer-box {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 350px;
	padding: 20px;
}
.trainer-box img {
	position: relative;
	width: 300px;
	height: 300px;
}
.trainers-wrapper h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	margin-top: 0;
	text-align: center;
}
.trainer-box p {
	font-family: 'Open Sans Condensed', sans-serif;
}
.back-description {
	vertical-align: middle;
}
.trainer-box-flippler {
	height: 350px;
}

/********* Trainers detail page *********/

.trainer-detail-wrapper {
	width: 60%;
	margin-left: 20%;
	font-family: 'Open Sans Condensed', sans-serif;
}
.trainer-detail-wrapper img {
	display: inline-block;
	width: 300px;
	vertical-align: top;
	float: left;
}
.trainer-description {
	display: inline-block;
	width: calc(100% - 400px);
	vertical-align: top;
	float: right;
	text-align: center;
}
.articles-written {
	display: block;
	position: relative;
	color: black;
	width: 100%;
	clear: left;
	padding-top: 30px;
}
.articles-written h2 {
	font-size: 22px;
}
.articles-written ul {
	font-weight: bold;
}
.articles-written ul li {
	padding: 5px;
	text-decoration: underline;
}
.trainer-description p {
	margin-top: 0 !important;
}


/**************** Mobile-specific classes ****************/

.mobile-menu {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	width: 200px;
	z-index: 99;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	overflow-y: auto;
}
.mobile-menu a {
	display: block;
	padding: 5px 20px;
	margin: 5px 0;
	/*border-bottom: 2px solid black;*/
}
.mobile-menu a:first-of-type {
	margin-top: 60px;
}
.burger-icon {
	padding: 12px;
	position: absolute;
	vertical-align: middle;
	right: 0px;
	z-index: 100;
	display: inline-block;
	height: 30px;
}
.burger-icon i {
	color: #fff;
}
.mob-browse-option {
	margin-left: 30px !important;
}
#mobile-all, .mobile-custom {
	border-bottom: 3px solid black;
}
#mobile-strategy {
	border-bottom: 3px solid #558B6E;
}
#mobile-content {
	border-bottom: 3px solid #648EAA;
}
#mobile-misc {
	border-bottom: 3px solid #A86464;
}
.mobile-related {
	display: none;
}



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Home page theme */

.green-background {
	background-color: #558B6E;
	color: white;
}
.red-background {
	background-color: #A86464;
	color: white;
}
.blue-background {
	background-color: #648EAA;
	color: white;
}
.grey-background {
	background-color: rgba(54, 54, 54, 0.9);
	color: white;
}

/* Home page */

.homepage-wrapper a {
	color: #dddbde;
	text-decoration: none;
}

.homepage-wrapper {
	/*top: 150px;*/
	text-align: center;
	/*position: absolute;*/
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
}
.homepage-card {
	padding: 10% 20%;
	font-size: 18px;
}
.homepage-welcome-card {
	background-image: url('../img/scotland-blurred-50.png');
	color: white;
}
.homepage-welcome-card p {
	font-size: 18px;
}
.attention {
	font-weight: bold;
	font-size: 24px;
	color: red;
}

/* Footer */


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.everything-wrapper {
  flex: 1;
}

.footer {
	text-align: center;
  	background-color: rgba(54, 54, 54, 0.9);
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	padding: 2em 4em;
	font-size: 14px;
}
.footer a {
	color: #dddbde;
	text-decoration: none;
}


/* Contact page */

.contact-page {
	margin: 0 5%;
}

.contact-page h1 {
	width: 100%;
	text-align: center;
}

.contact-options {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.contact-options a {
	position: relative;
	width: 45%;
	background-color: #CECECE;
	padding: 0 20px 20px;
	margin: 10px;
	box-sizing: border-box;
	border-radius: 3px;
	max-width: 500px;
}

.contact-options i {
	font-size: 30px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #494949;
}

/* Forms */

.form-wrapper {
	width: 50%;
	margin-left: 25%;
}

.form-wrapper h1 {
	text-align: center;
}

.form-wrapper p {
	text-align: justify;
}

.form-wrapper form p {
	text-align: left;
	font-family: 'Pavanam', sans-serif;
	margin: 20px 0;
}

.form-wrapper input[type=text],
.form-wrapper input[type=email] {
	padding: 5px;
	border: none;
	border-bottom: 1px solid black;
	background-color: unset;
	border-radius: 0;
}

.form-wrapper input[type=text]:focus,
.form-wrapper input[type=email]:focus {
	border-bottom: 2px solid #558B6E;
	outline: none;
}

.form-wrapper textarea {
	width: 100%;
	border: 1px solid black;
	border-radius: 0;
}

.form-wrapper textarea:focus {
	width: 100%;
	border: 2px solid #558B6E;
	outline: none;
}

.form-wrapper input, select, textarea {
	font-size: 18px;
	font-family: 'Pavanam', sans-serif;
}

.form-wrapper input:focus, select, textarea {
	color: #558B6E;
}

.form-wrapper button {
	position: relative;
	display: block;
	margin-left: calc(50% - 40px);
	margin-top: 20px;
	margin-bottom: 20px;
	width: 80px;
	height: 31px;
	border-radius: 3px;
	border-color: #558B6E;
	box-shadow: none;
	background-color: #558B6E;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 18px;
	border: none;
}

.highlight {
	color: #648EAA;
}

.content-headings h1 {
	color: #648EAA !important;
}
.strategy-headings h1 {
	color: #558B6E !important;
}
.misc-headings h1 {
	color: #A86464 !important;
}


/**************** Media screen detection ****************/

/* For most mobile devices, including tablets */
@media screen and (max-width: 960px) {
  	#browse-navbar { 
  		display: none; 
  	}
  	#box-wrapper {
  		width: 100%;
  		margin-left: -20px;
  	}
  	#mobile-header {
  		display: block;
  	}
  	#mobile-header img {
		height: 30px;
		display: inline-block;
		margin: 10px 5px 0 0;
		padding: 5px;
	}
	#mobile-header {
		background-color: rgba(54, 54, 54, 0.9);
		position: fixed;
		z-index: 9999;
		width: 100%;
	}
  	#header {
  		display: none;
  	}
  	.header-placeholder {
  		display: none;
  	}
  	#website-content {
  		top: 0;
  	}
  	#custom-search-options {
  		box-sizing: border-box;
  		position: fixed;
  		width: 100vw;
  		padding: 10px;
  		height: calc(100vh - 54px);
  		min-height: calc(100vh - 54px);
  		max-height: calc(100vh - 54px);
  		margin: 0;
  		left: 0; 
  		top: 54px;
  		font-size: 18px;
  		overflow-y: scroll;
  		border: none;
  	}
  	.noscroll {
		overflow: hidden;
	}
  	.filter-icon {
  		margin-right: 8px;
  	}
  	.filter-icon.fa-plus-square-o {
  		display: inline-block;
  	}
  	.filter-icon.fa-minus-square-o {
  		display: inline-block;
  	}
  	.filter-column {
  		text-align: left;
  	}
  	.custom-search-heading {
  		text-align: left;
  	}
  	.filter-column:last-of-type {
  		margin-bottom: 60px;
  	}
  	#close-box {
  		position: fixed;
		top: 54px;
		margin-top: 15px;
		left: 15px;
  	}
  	#custom-search-submit {
		position: fixed;
		margin: 0;
		bottom: 25px;
		right: 25px;
	}
	.filter-column {
		display: block;
	}
	.custom-search {
		display: none;
	}

  	.article-sidebar {
  		display: none;
  	}
  	.article-content {
  		left: 0;
  		padding: 5vh 5vw;
  		position: relative;
  		display: block;
  		width: 80vw;
  		float: none;
  	}
  	.article-authors-wrapper {
  		padding: 0;
  	}
  	.mobile-related a {
  		color: black;
  		text-decoration: none;
  	}
  	.mobile-related {
  		display: block;
  		border-top: 1px solid black;
  		text-align: center;
  	}
  	.mobile-related h1 {
  		font-size: 22px;
  		text-align: center;
  		margin-top: 20px;
  		margin-bottom: 15px;
  	}
  	.mobile-related .related a li h2 {
  		font-size: 18px;
  		padding: 8px 5px 2px;
  		margin: 0;
  		text-align: center;
  		text-decoration: none !important;
		text-overflow: unset;
		white-space: unset;
		overflow: unset;
  	}
  	.mobile-related .related {
  		display: inline-block;
  		max-width: 350px;
  		margin: 0 !important;
  	}
  	.trainer-detail-wrapper {
  		left: 0;
  		padding: 5vh 5vw;
  		position: relative;
  		display: block;
  		width: 80vw;
  		margin: 0;
  	}
  	.trainer-detail-wrapper h1 {
  		text-align: center;
  	}
  	.trainer-detail-wrapper img, .trainer-description, .articles-written {
  		display: block;
  		float: none;
  		width: 80vw;
  		margin: 20px 0;
  		padding: 0;
  	}
  	.trainer-detail-wrapper img {
  		max-width: 300px;
  		margin-left: calc(40vw - 150px);
  	}
  	#home:hover, #browse:hover, #trainers:hover, #contact:hover, #home.active, #browse.active, #trainers.active, #contact.active {
	    background-color: rgba(54, 54, 54, 0.9);
	    color: #f4f3f4;
	}

	.form-wrapper {
		width: 80%;
		margin-left: 10%;
	}
}

@media screen and (max-width: 600px) {
	.contact-options {
		display: flex;
	}
	.contact-options a {
		display: block;
		width: 100% !important;
	}
}

/* For smaller screens such as the iPhone 5 */
@media screen and (max-width: 350px) {
	.content-box {
		width: 250px;
		height: 180px;
	}
	.trainer-box img {
  		width: 80vw;
  		height: 80vw;
  	}
  	.trainer-box {
  		height: 90vw;
  	}
  	.trainer-detail-wrapper img {
  		margin-left: 0;
  	}
}
/* Normal screen */
@media screen and (min-width: 960px) {
	#box-wrapper {
		float: right;
	}
	.burger-icon {
		display: none;
	}
	#mobile-header {
		display: none;
	}
	.filter-icon {
		display: none;
	}
}














